<div class="rating">
    {% with ''|center:stars.full as range %}
        {% for _ in range %}
            <span class="fa fa-star"></span>
        {% endfor %}
    {% endwith %}
    {% with ''|center:stars.half as range %}
        {% for _ in range %}
            <span class="fa fa-star-half-empty"></span>
        {% endfor %}
    {% endwith %}
    {% with ''|center:stars.empty as range %}
        {% for _ in range %}
            <span class="fa fa-star-o "></span>
        {% endfor %}
    {% endwith %}
</div>