{% extends 'base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
  {% if validlink %}
    {% with form_header='Введите новый пароль' form_button='Назначить новый пароль' forgot_password=False %}
      {% include 'users/includes/form_submit.html' %}
    {% endwith %}    
  {% else %}
    {% with form_header='Ошибка' form_body='Ссылка сброса пароля содержит ошибку или устарела.' has_enter=False %}
      {% include 'users/includes/form_done.html' %}
    {% endwith %}
  {% endif %}

{% endblock %}
